@import url('https://fonts.googleapis.com/css?family=Baloo|Cabin|Questrial|Open+Sans|Roboto|Montserrat|Ubuntu|Poppins');
*
{
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}
body
{
	background-color: #024F4D;	
	font-family: Ubuntu, sans-serif;
}

.wrapper {
    display: flex;
    width: 100%;
    align-items: stretch;
}

.jumbotron {
	background-color: #1C1C1C;
    color: #fff;
    padding: 25px;
    font-family: Montserrat, sans-serif;
}
.jumbotron h1{
	font-size: 3em;
}
.card
{
	background-color: #1e283a;
	color: white;
	box-shadow: 0 -15px 15px rgba(255,255,255,0.05),
				inset 0 -15px 15px rgba(255,255,255,0.05),
				0 -15px 15px rgba(0,0,0,0.3),
				inset 0 -15px 15px rgba(0,0,0,0.3);
}
.card-header
{
	background-color: #022A38;
	font-family: Ubuntu, sans-serif;
}

.card-header h2{
	font-size: 30px;
}

.card-body
{
	background-color: #E3D6BF;
}
.icons
{
	color: #C2A263;
}

#dig_clock
{
	display: flex;
	font-family: 'Questrial', sans-serif;
	color: #DDDCDB;
	font-weight: bold;
	font-size: 20px;
	justify-content: center;
	padding: 0 10px 0 10px;
}
#dig_clock div
{
	position: relative;
	margin: 0 5px;
	
}
#dig_clock #dig_hours, #dig_clock #dig_minutes, #dig_clock #dig_seconds, #dig_clock .dig_separator
{
	justify-content: center;
}

/* Esquema de colores https://javier.xyz/cohesive-colors/?src=E8DDCB,CDB380,036564,033649,031634&overlay=25231f&intensity=0.3 */
/*
Color para fondo: #024F4D;
Color cabeceras: #022A38;
Color header pagina: #021128;
Color fondos gráficos: #E3D6BF;
Color contraste: #C2A263;
*/