@import url('https://fonts.googleapis.com/css?family=Baloo|Cabin|Questrial|Open+Sans|Roboto|Montserrat|Ubuntu|Poppins');
*
{
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}
body
{
	background-color: #091921;	
	font-family: Montserrat, sans-serif;
}

.jumbotron {
	background-color: #091921;
    color: #fff;
    padding: 25px;
    font-family: Montserrat, sans-serif;
}
.card
{
	background-color: #1e283a;
	color: white;
}