<div class="sidebar">
  <div class="sidebar-wrapper">
    <div class="logo text-center">
      <a href="/" class="">ArduWeather</a>				
    </div>
    <nav>
      <ul>
        <li id="dashLink" class="nav-item"><a href="/" title=""><i class="fa fa-table"></i><p>Dashboard</p></a></li>
        <li id="tempLink" class="nav-item"><a href="/temperature" title=""><i class="fa fa-thermometer-three-quarters"></i><p>Temperatura</p></a></li>
        <li id="humLink" class="nav-item"><a href="/humidity" title=""><i class="fa fa-tint"></i><p>Humedad</p></a></li>
        <li id="preasLink" class="nav-item"><a href="/preasure" title=""><i class="fa fa-heat"></i><p>Presion</p></a></li>
        <li id="brigLink" class="nav-item"><a href="/brightness" title=""><i class="fa fa-lightbulb"></i><p>Luminosidad</p></a></li>
        <li id="owLink" class="nav-item"><a href="/openweather" title=""><i class="fa fa-cloud-sun"></i><p>OpenWeatherMap</p></a></li>
        <li id="mapLink" class="nav-item"><a href="/mapping" title=""><i class="fa fa-map-marked-alt"></i><p>Mapas</p></a></li>
      </ul>
    </nav>
    <div class="container status text-center">
      <!--<div class="show-temp">
        <span class="temp-data">23</span><span class="units">ºC</span>
      </div> -->
      <div class="datetime">
        <i class="fa fa-calendar-alt"></i><span id="descDay">Lunes </span><span id="day">20 </span><span id="month">Abril </span>
      </div>
    </div>
    <div id="dig_clock">	
      <div id="dig_hours">00</div>
      <div class="dig_separator">:</div>
      <div id="dig_minutes">00</div>
      <div class="dig_separator">:</div>
      <div id="dig_seconds">00</div>
    </div>
  </div>		
</div>